.Link ul{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

.Link li{
    display: inline-block;
    margin: 20px;
}

.Link a{
    text-decoration: none;
    color: black;
}

.Link a:hover,
.Link a:active,
.Link a.active{
    color : #fa923f; 
}